@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.Vue {
  border: 0.1rem solid rgb(97, 251, 105);
}
.Vue:hover {
  background: rgba(52, 255, 0, 0.25);
}
.Grindsome {
  border: 0.1rem solid rgb(97, 251, 105);
}
.Grindsome:hover {
  background: rgba(52, 255, 0, 0.25);
}
.styled-components {
  border: 0.1rem solid rgb(254, 121, 197);
}
.styled-components:hover {
  background: rgba(254, 121, 197, 0.65);
}
.parcel {
  border: 0.1rem solid rgb(251, 225, 97);
}
.parcel:hover {
  background: rgba(247, 255, 0, 0.61);
}
.REST {
  border: 0.1rem solid rgb(91, 79, 117);
}
.REST:hover {
  background: rgba(91, 79, 117, 0.79);
}
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.25);
}
.axios {
  border: 0.1rem solid rgb(97, 218, 251);
}
.axios:hover {
  background: rgba(97, 218, 251, 0.25);
}
.react-static {
  border: 0.1rem solid rgb(97, 251, 169);
}
.react-static:hover {
  background: rgba(97, 251, 215, 0.25);
}
.Django {
  border: 0.1rem solid rgb(251, 174, 97);
}
.Django:hover {
  background: rgba(251, 197, 97, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.razorpay {
  border: 0.1rem solid rgb(82, 143, 240);
}
.razorpay:hover {
  background: rgba(82, 143, 240, 0.25);
}

.material-ui {
  border: 0.1rem solid rgb(25, 118, 210);
}
.material-ui:hover {
  background: rgba(25, 118, 210, 0.25);
}

.jwtauth {
  border: 0.1rem solid rgb(0, 209, 178);
}
.jwtauth:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(0, 112, 243);
}
.next:hover {
  background: rgba(0, 112, 243, 0.25);
}
.angular {
  border: 2px solid rgb(243, 0, 0);
}
.angular:hover {
  background: rgba(243, 0, 20, 0.25);
}
.EmailJS {
  border: 2px solid rgb(129, 234, 0);
}
.EmailJS:hover {
  background: rgba(117, 243, 0, 0.25);
}
.salesforce {
  border: 2px solid rgb(243, 166, 0);
}
.salesforce:hover {
  background: rgba(243, 146, 0, 0.25);
}
.GraphQL {
  border: 2px solid rgb(61, 42, 101);
}
.GraphQL:hover {
  background: rgba(91, 79, 117, 0.56);
}


.Blockchain {
  border: 2px solid rgb(61, 42, 101);
}
.Blockchain:hover {
  background: rgba(91, 79, 117, 0.56);
}

.Airtables {
  border: 2px solid rgb(61, 42, 101);
}
.Airtables:hover {
  background: rgba(91, 79, 117, 0.56);
}

